<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clientes</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="main-content">
    <header class="page-header">
        <h1>Clientes</h1>
        <div>
            <a th:href="@{/view/clientes/nuevo}" class="btn">Agregar</a>
            <a th:href="@{/index}" class="btn-logout">Dashboard</a>
        </div>
    </header>

    <table>
        <thead>
        <tr>
            <th>DPI</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Dirección</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="c : ${lista}">
            <td th:text="${c.DPICliente}"></td>
            <td th:text="${c.nombreCliente}"></td>
            <td th:text="${c.apellidoCliente}"></td>
            <td th:text="${c.direccionCliente}"></td>
            <td th:text="${c.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>