<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detalle Ventas</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="main-content">
    <header class="page-header">
        <h1>Detalle Ventas</h1>
        <div>
            <a th:href="@{/view/detalle-ventas/nuevo}" class="btn">Agregar</a>
            <a th:href="@{/index}" class="btn-logout">Dashboard</a>
        </div>
    </header>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Venta</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="d : ${lista}">
            <td th:text="${d.codigoDetalleVenta}"></td>
            <td th:text="${d.venta != null ? d.venta.codigoVenta : 'N/A'}"></td>
            <td th:text="${d.cantidad}"></td>
            <td th:text="'Q' + ${d.precioUnitario}"></td>
            <td th:text="'Q' + ${d.precioTotal}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>