<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Producto</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<div class="form-container">
    <h2>Nuevo Producto</h2>

    <form th:action="@{/view/productos/guardar}" th:object="${producto}" method="post">
        <input type="text" th:field="*{codigoProducto}" placeholder="Código">
        <input type="text" th:field="*{nombreProducto}" placeholder="Nombre">
        <input type="number" th:field="*{precio}" placeholder="Precio">
        <input type="number" th:field="*{stock}" placeholder="Stock">

        <button type="submit">Guardar</button>
        <a th:href="@{/view/productos}" class="cancel">Cancelar</a>
    </form>
</div>

</body>
</html>