<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Venta</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<h2>Nueva Venta</h2>

<div class="form-container">
    <h2>Registrar Nueva Venta</h2>

    <form th:action="@{/view/ventas/guardar}" th:object="${venta}" method="post">
        <label>Código de Factura</label>
        <input type="text" th:field="*{codigoVenta}" placeholder="Ej: V-001" />

        <label>Fecha de Venta</label>
        <input type="date" th:field="*{fechaVenta}" />

        <label>Total de la Venta (Q)</label>
        <input type="number" step="0.01" th:field="*{precioVenta}" placeholder="0.00" />

        <button type="submit" class="btn-search" style="width: 100%;">Finalizar Venta</button>
        <a th:href="@{/view/ventas}" class="cancel">Regresar a Ventas</a>
    </form>
</div>

<a th:href="@{/view/ventas}">Volver</a>

</body>
</html>