<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Producto</title>
    <link rel="stylesheet" th:href="@{/css/form.css}">
</head>
<body>

<div class="form-container">
    <h2>Gestión de Producto</h2>

    <form th:action="@{/view/productos/guardar}" th:object="${producto}" method="post">
        <input type="text" th:field="*{codigoProducto}" placeholder="Código de Producto" th:readonly="${producto.codigoProducto != null}">
        <input type="text" th:field="*{nombreProducto}" placeholder="Nombre del Producto" required>

        <label>Precio (Q):</label>
        <input type="number" step="0.01" th:field="*{precio}" placeholder="0.00">

        <label>Stock disponible:</label>
        <input type="number" th:field="*{stock}" placeholder="Cantidad">

        <button type="submit" class="btn-search" style="width: 100%;">Guardar Producto</button>
        <a th:href="@{/view/productos}" class="cancel">Cancelar y salir</a>
    </form>
</div>

</body>
</html>