<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="main-content">
    <header class="page-header">
        <h1>Productos</h1>
        <div>
            <a th:href="@{/view/productos/nuevo}" class="btn">Agregar</a>
            <a th:href="@{/index}" class="btn-logout">Dashboard</a>
        </div>
    </header>

    <div class="search-container">
        <input type="text" class="input-search" placeholder="Buscar producto...">
        <button class="btn-search">Buscar</button>
    </div>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p : ${lista}">
            <td th:text="${p.codigoProducto}"></td>
            <td th:text="${p.nombreProducto}"></td>
            <td th:text="'Q' + ${p.precio}"></td>
            <td th:text="${p.stock}"></td>
            <td class="action-buttons">
                <a th:href="@{/view/productos/editar/{id}(id=${p.codigoProducto})}" class="btn-edit">Editar</a>
                <a th:href="@{/view/productos/eliminar/{id}(id=${p.codigoProducto})}" class="btn-delete">Eliminar</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>