<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Usuarios</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="main-content">
    <header class="page-header">
        <h1>Usuarios</h1>
        <div>
            <a th:href="@{/view/usuarios/nuevo}" class="btn">Agregar</a>
            <a th:href="@{/index}" class="btn-logout">Dashboard</a>
        </div>
    </header>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Usuario</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Estado</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u : ${lista}">
            <td th:text="${u.codigoUsuario}"></td>
            <td th:text="${u.username}"></td>
            <td th:text="${u.email}"></td>
            <td th:text="${u.rol}"></td>
            <td th:text="${u.estado == 1 ? 'Activo' : 'Inactivo'}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>