<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Formulario Usuario</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="form-container">
    <h2>Registro de Usuario</h2>

    <form th:action="@{/view/usuarios/guardar}" th:object="${usuario}" method="post">
        <input type="text" th:field="*{codigoUsuario}" placeholder="Código de empleado">
        <input type="text" th:field="*{nombre}" placeholder="Nombre Completo">
        <input type="text" th:field="*{username}" placeholder="Nombre de usuario">
        <input type="email" th:field="*{email}" placeholder="Correo electrónico">
        <input type="password" th:field="*{password}" placeholder="Definir contraseña">
        <input type="text" th:field="*{rol}" placeholder="Asignar Rol">

        <label>Estado Inicial:</label>
        <input type="number" th:field="*{estado}" placeholder="1 para Activo, 0 para Inactivo">

        <button type="submit" class="btn-search" style="width: 100%; margin-top: 10px;">Registrar Usuario</button>
        <a th:href="@{/view/usuarios}" class="cancel">Volver al listado</a>
    </form>
</div>

</body>
</html>