<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ventas</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<div class="main-content">
    <header class="page-header">
        <h1>Ventas</h1>
        <div>
            <a th:href="@{/view/ventas/nuevo}" class="btn">Agregar</a>
            <a th:href="@{/index}" class="btn-logout">Dashboard</a>
        </div>
    </header>

    <table>
        <thead>
        <tr>
            <th>Código</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Usuario</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v : ${lista}">
            <td th:text="${v.codigoVenta}"></td>
            <td th:text="${v.fechaVenta}"></td>
            <td th:text="${v.cliente != null ? v.cliente.nombreCliente : 'N/A'}"></td>
            <td th:text="${v.usuario != null ? v.usuario.username : 'N/A'}"></td>
            <td th:text="'Q' + ${v.precioVenta}"></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>