<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>KinalApp | Ventas</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
<div class="main-content">

    <a th:href="@{/index}" class="btn-back">
        <i class="fas fa-arrow-left"></i> Volver al Dashboard
    </a>

    <header class="page-header">
        <h1>Registro de Ventas</h1>
    </header>

    <table>
        <thead>
        <tr>
            <th>Factura</th>
            <th>Fecha</th>
            <th>Cliente</th>
            <th>Vendedor</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="v : ${lista}">
            <td th:text="${v.codigoVenta}"></td>
            <td th:text="${v.fechaVenta}"></td>
            <td th:text="${v.cliente != null ? v.cliente.nombreCliente : 'N/A'}"></td>
            <td th:text="${v.usuario != null ? v.usuario.username : 'N/A'}"></td>
            <td th:text="'Q' + ${v.precioVenta}"></td>
        </tr>
        </tbody>
    </table>

</div>
</body>
</html>